<section id="features" class="py-10 bg-white sm:py-16 lg:py-24">
  <div class="max-w-2xl mx-auto mb-10 text-center">
    <p class="text-base font-semibold tracking-wider text-blue-600 uppercase">
      OUR SUPER BENEFITS
    </p>
    <h2
      class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-4xl"
    >
      Learn Faster & Better
    </h2>
  </div>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 text-center sm:grid-cols-2 gap-y-8 lg:grid-cols-4 sm:gap-12"
    >
      <div>
        <div
          class="flex items-center justify-center w-20 h-20 mx-auto bg-blue-100 rounded-full"
        >
          <img src="./images/ic_globe.png" alt="" />
        </div>
        <h3 class="mt-8 text-lg font-semibold text-black">Diversity</h3>
        <p class="mt-4 text-sm text-gray-600">
          Learn from anyone around the world and get a new skills
        </p>
      </div>

      <div>
        <div
          class="flex items-center justify-center w-20 h-20 mx-auto bg-orange-100 rounded-full"
        >
          <img src="./images/ic_globe-1.png" alt="" />
        </div>
        <h3 class="mt-8 text-lg font-semibold text-black">A.I Guideline</h3>
        <p class="mt-4 text-sm text-gray-600">
          We will help you to choose which path that suitable for you
        </p>
      </div>

      <div>
        <div
          class="flex items-center justify-center w-20 h-20 mx-auto bg-green-100 rounded-full"
        >
          <img src="./images/ic_globe-2.png" alt="" />
        </div>
        <h3 class="mt-8 text-lg font-semibold text-black">1-1 Mentoring</h3>
        <p class="mt-4 text-sm text-gray-600">
          We will ensure that you will get what you really do need
        </p>
      </div>

      <div>
        <div
          class="flex items-center justify-center w-20 h-20 mx-auto bg-red-100 rounded-full"
        >
          <img src="./images/ic_globe-3.png" alt="" />
        </div>
        <h3 class="mt-8 text-lg font-semibold text-black">Future Job</h3>
        <p class="mt-4 text-sm text-gray-600">
          Get your dream job in your dream company together with us
        </p>
      </div>
    </div>
  </div>
</section>
