<!-- Trusted -->
<section class="py-10 bg-white sm:py-16 lg:py-24">
  <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-xl font-medium text-gray-900">
        Trusted by world class creators
      </h2>
    </div>

    <div
      class="grid items-center grid-cols-2 gap-10 mt-12 md:grid-cols-4 sm:gap-y-16"
    >
      <div>
        <img
          class="object-contain w-auto mx-auto h-14"
          src="./images/apple.png"
          alt=""
        />
      </div>

      <div>
        <img
          class="object-contain w-auto mx-auto h-14"
          src="./images/google.png"
          alt=""
        />
      </div>

      <div>
        <img
          class="object-contain w-auto h-10 mx-auto"
          src="./images/adobe.png"
          alt=""
        />
      </div>

      <div>
        <img
          class="object-contain w-auto mx-auto h-14"
          src="./images/slack.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Trusted -->
